.home-link {
  border-radius: 50%;
  background: white;
  margin: 24px 16px;
  padding: 30px;
  box-shadow: $box-shadow;
}

.home-link-small {
  border-radius: 50%;
  background: white;
  padding: 10px;
  box-shadow: $box-shadow;
}
