  <div class="search-form-container">
    <form action="#" id="ajax-search-form" class="search-form d-flex justify-content-between">
      <input type="text" name="quey" id="ajax-search-field" class="search-field" data-url="<%= @url %>">
      <input type="submit" value="🔎" class="search-submit-button">
    </form>
  </div>
