<div class="container text-center">
  <%= form_tag beers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: ""
      # placeholder: ""
    %>
    <%= submit_tag "🔎", class: "" %>
  <% end %>
</div>
