<div class="search-form-container">
  <%= form_tag beers_path, method: :get, remote: true, class: 'search-form d-flex justify-content-between', id: 'remote-search-form' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-field"
    %>
    <%= hidden_field_tag :url, params[:url], id: "currentUrl" %>
    <%= submit_tag "🔎", class: "search-submit-button" %>
  <% end %>
</div>
