<div class="search-form-container red-border">
  <%= form_tag beers_path, method: :get, class: 'search-form' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-field"
      # placeholder: ""
    %>
    <%= submit_tag "🔎", class: "search-submit-button" %>
  <% end %>
</div>
