<div class="container text-center d-flex flex-column align-items-stretch">
  <h1>Les Brasseries</h1>

    <% @breweries.order_by_name.each do |brew| %>
      <% unless brew.beers.count.zero? %>
        <%= link_to brewery_path(brew) do %>
          <div class="brew-link">
            <p><%= brew.name %></p>
            <span><%= brew.beers.count %> beers</span>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
