<div class="container text-center d-flex flex-column align-items-center">
  <h1>All Beers</h1>

  <h3><%= link_to 'Scan a beer!', scan_beers_path  %></h3>
  
  <div class="row">
    <% @beers.order(id: :asc).each do |beer| %>
      <div class="col-12">
        <div class="beer-card m-3 p-3">
          <h4><%= beer.name %></h4>
          <%= link_to beer_path(beer) do  %>
            <% if beer.photo.attached? %>
              <div><%= cl_image_tag beer.photo.key, height: 150, crop: :thumb %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
