<div class="container text-center d-flex flex-column align-items-center">
  <h1>Beers#scan</h1>
  <p>Find me in app/views/beers/scan.html.erb</p>

  <div id="scandit-barcode-picker" data-scanditkey="<%= ENV['SCANDITKEY'] %>" style="max-width: 600px; max-height: 50%;"></div>

  <div id="results"></div>
</div>
