.search-form-container {
  width: 60%;

}
.search-form {
  // width: 222px;
}
.search-field {
  // width: 50px;
  width: 60%;
}
.search-submit-button {
  // width: %;
  border-radius: 3px;
  height: 100%;
}
