.search-form-container {
  width: 60%;

}
.search-form {
  // width: 222px;
}
.search-field {
  width: 60%;
  flex-grow: 1;
}
.search-submit-button {
  // width: %;
  border-radius: 5px;
  height: 100%;
  margin: 0 0 0 3px; 
}
