// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "beers/index";
@import "breweries/index";
@import "components/index";
@import "pages/index";


body {
  margin-top: 80px;
}
ul {
  list-style: none;
}
a {
  color: $gray;
  &:hover {
    color: $hover-gray;
    text-decoration: none;
  }
}
.my-container {
  width: 50%;
}
.blue-border {
  border: 1px solid blue;
}
.red-border {
  border: 1px solid red;
}
.green-border {
  border: 1px solid green;
}

