<div class="container text-center my-3">
  <h1>BeerTab</h1>

  <div class="my-3">
    <h3><%= @beer.name %></h3>
    <%= cl_image_tag @beer.photo.key, alt: @beer.name, width: 150 %>
  </div>

  <%= render 'form' %>
</div>
