<div class="container text-center">
  <h1>BeerTabs#show</h1>

  <p><%= link_to @beer_tab.beer.name, beer_path(@beer_tab.beer) %></p>
  <p>Tried: <%= @beer_tab.tried ? 'yes' : 'not yet' %></p>
  <p>Rating: <%= @beer_tab.rating.zero? ? 'ðŸ’©' : 'â­ï¸' * @beer_tab.rating %></p>
  
  <%= link_to 'Back to all beers', root_path, class: 'btn btn-secondary' %>
</div>
